*{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    position: relative;
}
.navbar{
    height: 15%;
    width: 100%;
    background-color: grey;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.logo{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.cont{
    height: 100%;
    width: 60%;
    /* background-color: rebeccapurple; */
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-evenly;
    color: aliceblue;

}
.home{
    height: 85%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    height: 70%;
    width: 40%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 22px;
}
.content span{
    font-size: 32px;
    margin-top: 10px;
}
.content p{
    font-size: 20px;
    margin-top: 30px;
    text-align: justify;
}
button{
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: gray;
    color: white;
    
}
.main1{
    height: 50%;
    width: 40%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
    margin-left: 400px;
    margin-top: 90px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 3px 2px 3px rebeccapurple;
}
.innerone{
    height: 70%;
    width: 80%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    
}
.innerone h1{
    font-size: 42px;
    margin-top: 20px;
}
  

.innerone p{
    font-size: 20px;
}
.btn{
    background-color: blue;
}
a{
    width: 100px;
    height: 30px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    background-color: rebeccapurple;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid black;
}